@import './header.css';
@import './promo.css';
@import './about.css';
@import './favourites.css';
@import './shop.css';
@import './contacts.css';
@import './cards.css';
@import './footer.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #000000;
    font-family: 'Inter';
}
.container {
    margin: 0 auto;
    max-width: 1440px;
}

.title {
    font-family: 'Forum';
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 2px;
    color: #0C0C0E;
    text-align: center;
    margin: 0 0 20px 0;
}
.title:after {
    content: '';
    display: block;
    margin: 20px auto 0;
    width: 50px;
    height: 1px;
    background-color: #0C0C0E;
}